---
import { SITE, LINKS } from "@consts"
import { cn } from "@lib/utils"
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
---

<div id="drawer" class="fixed inset-0 h-0 z-40 overflow-hidden flex flex-col items-center justify-center md:hidden bg-[#ECEFF4] dark:bg-[#2E3440] transition-[height] duration-300 ease-in-out">
  <nav class="flex flex-col items-center space-y-2">
    {
      LINKS.map((LINK) => (
        <a href={LINK.HREF} class={cn("flex items-center justify-center px-3 py-1 rounded-full", "text-current hover:text-[#3B4252] dark:hover:text-[#D8DEE9]", "hover:bg-[#4C566A]/10 dark:hover:bg-[#ECEFF4]/10", "transition-colors duration-300 ease-in-out", pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF ? "pointer-events-none bg-[#3B4252] dark:bg-[#D8DEE9] text-[#ECEFF4] dark:text-[#2E3440]" : "")}>
          {LINK.TEXT}
        </a>
      ))
    }
  </nav>

  <div class="flex gap-1 mt-5">
  <!--
    <a href="/search" aria-label={`Search blog posts and projects on ${SITE.TITLE}`} class={cn("size-9 rounded-full p-2 items-center justify-center bg-transparent hover:bg-[#4C566A]/10 dark:hover:bg-[#ECEFF4]/10 stroke-current hover:stroke-[#3B4252] hover:dark:stroke-[#D8DEE9] border border-[#4C566A]/10 dark:border-[#D8DEE9]/25 transition-colors duration-300 ease-in-out", pathname === "/search" || "/" + subpath?.[0] === "search" ? "pointer-events-none bg-[#3B4252] dark:bg-[#D8DEE9] text-[#ECEFF4] dark:text-[#2E3440]" : "")}>
      <svg class="size-full">
        <use href="/ui.svg#search"></use>
      </svg>
    </a>
  -->

    <a href="/rss.xml" target="_blank" aria-label={`Rss feed for ${SITE.TITLE}`} class="size-9 rounded-full p-2 items-center justify-center bg-transparent hover:bg-[#4C566A]/10 dark:hover:bg-[#ECEFF4]/10 stroke-current hover:stroke-[#3B4252] hover:dark:stroke-[#D8DEE9] border border-[#4C566A]/10 dark:border-[#D8DEE9]/25 transition-colors duration-300 ease-in-out">
      <svg class="size-full">
        <use href="/ui.svg#rss"></use>
      </svg>
    </a>

  </div>
</div>

<style>
  #drawer.open {
    @apply h-full;
  }
</style>
